<!--The content below is only a placeholder and can be replaced.-->
<div>
 <!-- <h1> Welcome to {{ title }}!</h1>
  <h2>My name is {{name}}</h2>
  <h2>Angular training casestudy</h2>

  <div>
    <ol>
      <li>{{person.firstName | uppercase}}</li>
      <li>{{person.lastName}}</li>
    </ol>
  </div>
-->
 <!-- <product-list></product-list>-->
 <!--<product-insert></product-insert>-->
 <!--<product-detail></product-detail>-->


 <!--<app-conditional></app-conditional>-->

 <!--<inbuilt-pipe></inbuilt-pipe>-->
 <!--<number-pipe></number-pipe>-->


 <!--<json-pipe></json-pipe>-->

 <!--<branding-comp></branding-comp>-->
 
<!--<route-container></route-container>-->
<catalog-login></catalog-login>
</div>
 


